<header class="sticky top-4 z-50 px-4">

  <div
    class="nav-container relative flex items-center justify-between
           px-3 sm:px-6 py-1 max-w-4xl mx-auto
           rounded-full
           bg-white/60 backdrop-blur-xl
           border border-white/40
           shadow-sm">

    <!-- LEFT -->
    <div>
      <button (click)="navigate('home')">
        <img
          [src]="profileImage"
          alt="Profile"
          class="logo-img w-12 h-12 rounded-full object-cover" />
      </button>
    </div>

    <!-- DESKTOP NAV -->
    <nav class="hidden sm:flex items-center gap-8">
      @for (item of links; track item) {
      <button
        (click)="navigate(item.toLowerCase())"
        class="nav-item text-sm font-medium text-gray-800 hover:text-gray-900">
        {{ item }}
      </button>
      }
    </nav>

    <!-- RIGHT -->
    <div class="flex items-center gap-3">

      <button
        class="hidden sm:flex w-9 h-9 rounded-full border border-black/20
               text-sm font-semibold hover:bg-black hover:text-gray-900">
        
      </button>

      <!-- MOBILE -->
      <button (click)="toggleMenu()" class="sm:hidden">
        <div class="hamburger">
    <input
      class="checkbox"
      type="checkbox"
      [checked]="open"
      aria-hidden="true" />

    <svg fill="none" viewBox="0 0 50 50" height="35" width="35">
      <path
        class="lineTop line"
        stroke-linecap="round"
        stroke-width="6"
        stroke="black"
        d="M6 11L44 11" />

      <path
        class="lineMid line"
        stroke-linecap="round"
        stroke-width="6"
        stroke="black"
        d="M6 24H43" />

      <path
        class="lineBottom line"
        stroke-linecap="round"
        stroke-width="6"
        stroke="black"
        d="M6 37H43" />
    </svg>
  </div>
      </button>

    </div>
  </div>

  <!-- MOBILE DRAWER -->
  @if (open) {

  <div
    class="overlay fixed inset-0 bg-black/30 z-40"
    (click)="open = false">
  </div>

  <div
    class="drawer fixed bottom-0 left-0 w-full
           bg-white rounded-t-3xl px-6 py-10 z-50">

    <div class="flex flex-col items-center gap-6">
      @for (item of links; track item) {
      <button
        (click)="navigate(item.toLowerCase())"
        class="drawer-item text-lg font-medium text-gray-800 hover:text-gray-900">
        {{ item }}
      </button>
      }
    </div>

  </div>

  }

</header>