<div class="min-h-screen w-full bg-white relative">

  <div class="absolute inset-0 opacity-90" [style.background-image]="'linear-gradient(45deg, transparent 49%, #e5e7eb 49%, #e5e7eb 51%, transparent 51%), linear-gradient(-45deg, transparent 49%, #e5e7eb 49%, #e5e7eb 51%, transparent 51%)'" [style.background-size]="'40px 40px'"></div>
  <app-navbar></app-navbar>
  <app-home></app-home>

</div>

  
  <app-skills></app-skills>

  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur accusantium earum natus quae officia vero sed eligendi ipsam, suscipit, sequi reiciendis consectetur. Fugiat voluptatum esse molestias maiores sequi sint nam!
  Id nesciunt debitis dicta, dignissimos omnis doloribus. Assumenda nesciunt aut nostrum odio eos officiis ea modi, iure ipsum consequuntur porro sapiente debitis suscipit odit! Cumque rem iste id dignissimos non.
  Distinctio sit dignissimos aspernatur ipsum fuga veritatis. Molestias earum modi, dignissimos natus fuga, debitis nulla minima sequi, atque saepe unde cumque at. Distinctio odit totam exercitationem neque recusandae quo iste?
  Adipisci distinctio eveniet illo ad veritatis id assumenda, et, repellat velit fugit quisquam dolorum cumque! Quam similique ut praesentium molestiae rem cum vero, magni quis voluptatibus aut fuga est architecto.
  Eaque sequi reiciendis ab odio vel ad atque quasi ea, fugit modi sint saepe explicabo doloribus nisi provident nobis at veniam eos accusamus recusandae pariatur omnis facere! Dolorem, id voluptatem.
  Quaerat quas at, fuga blanditiis sint enim iste ratione aut optio fugiat magnam et dolor odio, totam rem temporibus eius nemo quisquam repellendus dolore, tempora molestias culpa? Vero, fuga officia.
  Quia perferendis, tempora possimus esse eius maxime, quidem repudiandae consectetur accusantium vero quas iure eos ipsa illum quam odit placeat voluptas dolor? Voluptate aliquam nam, cum totam nesciunt fugit ratione.
  Magnam et veritatis a officia nostrum deleniti dolorem repudiandae itaque dicta libero aliquam, doloremque ex voluptate, possimus pariatur voluptas impedit eligendi! Dignissimos aperiam culpa iste quibusdam repudiandae repellendus dolorum obcaecati.
  Libero reiciendis aperiam assumenda eaque nostrum, nam odio deserunt perferendis? Hic qui maxime odio cumque ex? Ex explicabo, libero, cumque aliquam corporis voluptatibus distinctio praesentium ipsa voluptates delectus nisi doloremque!
  Eos libero beatae praesentium sint sit cumque doloribus explicabo animi exercitationem sed placeat deserunt nobis quasi inventore est corrupti tempore nihil, quod sunt consequatur aut. Molestias debitis aut assumenda est?</p>
  <app-footer></app-footer>